@media(max-width:919px){

    .mainSection{
        display: inherit;
    }
    .cursosDestacadosCuadros{
        display: inherit;
        height: auto;
    }
    .cursoDestacado{
        margin-top:auto ;
    }

}