/*---------variables----------*/
:root{
    /*Colors*/
    --darkblue--color:#020301;
    --white--color:white;
    --mywhite--color:#f3f5f9;
    --gold--color:#b5a197;
    --darkGold--color:#7c716c;
    --skyblue--color:#90adc6;    
}
html,body{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
/*----------------------------------------------HEADER*/
header{
    width: 100%;
    height: 80px;
}
header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:var(--darkblue--color);
    color: var(--mywhite--color);
}
nav div{
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul{
    padding: 0px;
    display:inline-flex;
}
nav li{
    list-style: none;
    padding-right: 15px;
}
nav .NavOptions{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .NavCredentials {
    display: flex;
    justify-content:flex-end;
    padding-right:10px;
}
nav a{
    text-decoration: none;
    color:var(--mywhite--color);
}
nav a:hover{
    color:var(--gold--color);
}
nav .NavLogo img{
    width: 1fr;
    height: 50px;
    padding-left: 20px;
}

#login{
    color: var(--mywhite--color);
    background-color: var(--gold--color);
    padding: 10px;
    border-radius: 3px;
}
#login:hover{
    background-color: var(--darkGold--color);
}

/*---------------------------------HERO SECTION*/
.heroSection{
    /*border: 1px solid red;*/
    padding-top: 0%;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.heroSectionText{
    /*border: 1px solid red;*/
    margin: auto;
    padding-left: 50px;
}
.heroSectionImage{
    /*border: 1px solid red;*/
    margin: auto;
}
.heroSectionText h1{
    text-align: left;
    color:var(--darkblue--color);
    font-size: 45px;
}
.heroSectionText h2{
    text-align: left;
    color:var(--darkblue--color);
}
.heroButton{
    text-decoration: none;
    background-color: var(--gold--color);
    padding: 10px;
    color: var(--mywhite--color);
    border-radius: 3px;
}
.heroButton:hover{
    background-color:var(--darkGold--color);
}
/*----------------CURSOS DESTACADOS----------*/
.cursosDestacados{
    background-color: var(--mywhite--color);
    padding-bottom: 40px;
}
.cursosDestacadosTitulo{
    text-align: center;
    padding-top: 30px;
}
.cursosDestacadosCuadros{
    margin: 40px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    /*border: 1px solid red;*/
}
.cursoDestacado{
    background-color:var(--white--color);
    padding: 15px;
    padding-bottom: 50px;
    align-items: baseline;
    box-shadow: 0 0 1px var(--gold--color);
}
.cursoDestacadoImagen{
    text-align: center;
}
.cursoDestacadoTexto{
    text-align: center;
}
.cursosDestacadosButton{
    padding: 15px;
    text-decoration: none;
    color: var(--mywhite--color);
    background-color:var(--darkblue--color);
    border-radius: 3px;
}
.cursosDestacadosButton:hover{
    color: var(--darkblue--color);
    background-color:var(--skyblue--color);
}
.finalButton h2{
    text-align: center;
    padding: 20px;
    margin: 0px;
}
/*-----------FOOTER------------*/
footer{
    display: flex;
    background-color:var(--darkblue--color);
    color:var(--mywhite--color);
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}